{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}

<head>

    <link rel="icon" type="image/x-icon" href="/aplicatietutorialpythonflask/favicon.ico">

</head>

<div class = "team_name">

<b1>Logged in as: <strong>{{name}}</strong></b1>
    
</div>

{% if tip_test != "null": %}


<div class = "main">

<div class = "title">
    <b1>Quizul de <strong>{{tip_test}}</strong> este activ</b1>
</div>

<br>

<a class = "btn-1" href="/quiz">
    Start Quiz </a>
    
{% else: %}

<div class = "main">
    <b1>Nu avem niciun Quiz activ in acest moment</b1>

    <br>

        <a class = "btn-1" href="/check_quiz">
            Refresh </a>
</div>
{% endif %}

</div>

{% endblock%}