{% extends "base.html" %}
{% block title %}DroWo23 - Home Page{% endblock %}

{% block content %}
    <div class="container">
        <div class="body">
            <div class="content">
                <h1>DROWO 23 APP</h1>
                <p>Bine ati venit la editia Drowo 2023!</p>
                
                <div class>

                    {% if user.is_authenticated and user.level == "team" %}
                    <a href="/check_quiz">
                        <button type="button">
                            QUIZ
                        </button>
                    </a>
                    <a href="/shop">
                        <button type="button">
                            SHOP
                        </button>
                    </a>
                    {%endif%}
                </div>
            </div>
            <section>
                <div class='air air1'></div>
                <div class='air air2'></div>
                <div class='air air3'></div>
                <div class='air air4'></div>
            </section>
        </div>
    </div>


    <style>

        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Pacifico&family=Poppins:wght@700&display=swap');

        .container{
            margin-left: 0;
            padding-left: 0;
        }
        .content{
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: #fff;
        }
        .content h1{
            font-size: 70px;
            margin-top: 80px;
        }
        .content p{
            margin: 20px auto;
            font-weight: 120;
            line-height: 25px;
        }
        button{
            width: 240px;
            height: 50px;
            padding: 0;
            text-align: center;
            margin: 20px 10px;
            border-radius: 25px;
            font-weight: bold;
            font-size: 1.2rem;
            border: 3px solid #00c1c1;
            background: transparent;
            color: white;
            cursor: pointer;
            overflow: hidden;
        }
        
        button:hover{
            border: none;
        }    

        .butoane{
            margin: auto;
            width: 50%;
            padding: 10px;
            
        }

        section{
            position: fixed;
            bottom: 0px;
            width: 100vw;
            height: 30vh;
            background: rgb(0,28,56);
    background: linear-gradient(90deg, rgba(0,28,56,1) 0%, rgba(0,96,193,1) 50%, rgba(0,28,56,1) 100%);
            overflow: hidden;
        }
        section .air{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
            background-size: 1000px 100px
        }
        section .air.air1{
            animation: wave 30s linear infinite;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }
        section .air.air2{
            animation: wave2 15s linear infinite;
            z-index: 999;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: 10px;
        }
        section .air.air3{
            animation: wave 30s linear infinite;
            z-index: 998;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: 15px;
        }
        section .air.air4{
            animation: wave2 5s linear infinite;
            z-index: 997;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: 20px;
        }
        @keyframes wave{
            0%{
                background-position-x: 0px; 
            }
            100%{
                background-position-x: 1000px; 
            }
        }
        @keyframes wave2{
            0%{
                background-position-x: 0px; 
            }
            100%{
                background-position-x: -1000px; 
            }
        }
    </style>
{% endblock%}