{% extends "base.html" %}
{% block title %}Login - DroWo 23{% endblock %}

{% block content %}
<link rel="stylesheet" href="login-styles.css">

<div class="body">
    <div class="center">
        <h1>Login</h1>
        <div class="instruction">Va rugam sa introduceti numele echipei si parola.</div>
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="numeEchipa" name="numeEchipa" required/>
            </div>
                <span></span>
                <label for="numeEchipa">Nume Echipa</label>
            <div class="form-group">
                <input type="password" class="form-control" id="parolaEchipa" required/>
                <span></span>
                <label for="parolaEchipa">Parola</label>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>    
</div>
{% endblock%}