{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
    
<div class = container>

<div class = intrebare>
{{intrebare1}}
</div>

<div class = raspunsuri>

    <form method="POST">
        <br>
        {% for option in raspunsuri1_lista %}
          <input type="radio" name="select_option1" value="{{ option }}">
          <label>{{ option }}</label>
          <br>
        {% endfor %}
        <!-- <br>
        <button type="submit">Submit</button> -->
      

</div>

<div class = intrebare>
  <br>
  {{intrebare2}}
  </div>

  <div class = raspunsuri>

    
        <br>
        {% for option in raspunsuri2_lista %}
          <input type="radio" name="select_option2" value="{{ option }}">
          <label>{{ option }}</label>
          <br>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
      </form>

</div>

</div>

<div class = Timer>

  <p>There are <span id ="hours"></span> hours, <span id="minutes"></span> minutes and <span id="seconds"></span> seconds left until the target date.</p>

</div>

<script>
        // function to update the countdown timer
        function updateTimer() {
            var targetDate = new Date("March 1, 2023 00:00:00").getTime(); // set the target date for the countdown timer
            var now = new Date().getTime(); // get the current date and time
            var timeLeft = targetDate - now; // calculate the time left until the target date
            var hoursLeft = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutesLeft = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60)); // get the number of minutes left
            var secondsLeft = Math.floor((timeLeft % (1000 * 60)) / 1000); // get the number of seconds left

            document.getElementById("hours").innerHTML = hoursLeft; // update the minutes left on the page
            document.getElementById("minutes").innerHTML = minutesLeft; // update the minutes left on the page
            document.getElementById("seconds").innerHTML = secondsLeft; // update the seconds left on the page
        }

        // update the countdown timer every second
        setInterval(updateTimer, 1000);
    </script>

<!-- <script>
    $('#id_form-0-project').on('change', function() {
    $('#status').text($(this).find('option').map(function(i, e){
        return $(e).val() + " is " + ($(e).prop('selected') ? "" : "not ") + "selected";
    }).get().join('; '));
});
</script> -->

{% endblock%}