{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
    
<div class = container>

  <div class = Timer>

    <p><span id="minutes"></span>:<span id="seconds"></span></p>
  
  </div>

    <form method = 'post'>
    {%for q in questions:%}
      <div class = 'intrebare'>
        {{q.intrebare}}
      </div>
      <div class = 'raspunsuri'>
        <form method="POST" id = "quiz-form">
            <br>
            <input type="radio" name="{{ q.intrebare }}" value={{ q.raspunsuri[0].raspuns1 }}>
            <label>{{ q.raspunsuri[0].raspuns1 }}</label>
            <br>
            <input type="radio" name="{{ q.intrebare }}" value={{ q.raspunsuri[0].raspuns2 }}>
            <label>{{ q.raspunsuri[0].raspuns2 }}</label>
            <br>
            <input type="radio" name="{{ q.intrebare }}" value={{ q.raspunsuri[0].raspuns3 }}>
            <label>{{ q.raspunsuri[0].raspuns3 }}</label>
            <br>
            <input type="radio" name="{{ q.intrebare }}" value={{ q.raspunsuri[0].raspuns4 }}>
            <label>{{ q.raspunsuri[0].raspuns4 }}</label>
            <br>
    {%endfor%}
      <button type="submit">Submit</button>
    </form>

</div>


<script>
  // function to update the countdown timer
  function updateTimer() {
      var targetDateStr = localStorage.getItem("target_date"); // get the target date from localStorage
      var targetDate = new Date(targetDateStr); // convert the target date to a JavaScript date object
      var now = new Date().getTime(); // get the current date and time
      var timeLeft = targetDate - now; // calculate the time left until the end of the quiz
      var minutesLeft = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60)); // get the number of minutes left
      var secondsLeft = Math.floor((timeLeft % (1000 * 60)) / 1000); // get the number of seconds left

      document.getElementById("minutes").innerHTML = String(minutesLeft).padStart(2, '0'); // update the minutes left on the page with 2 digits
      document.getElementById("seconds").innerHTML = String(secondsLeft).padStart(2, '0'); // update the seconds left on the page with 2 digits
  
      if (timeLeft < 0) {
                // time has run out, redirect the user to another page
                document.getElementById("quiz-form").submit();
                href = "/results";
            }
  
    }



  // check if the target date is already stored in localStorage
  if (!localStorage.getItem("target_date")) {
      var targetDate = new Date();
      targetDate.setMinutes(targetDate.getMinutes() + 1); // set the target date for the quiz to be 30 minutes from now
      localStorage.setItem("target_date", targetDate.toISOString()); // store the target date in localStorage
  }

  

  // update the countdown timer every second
  setInterval(updateTimer, 1000);
</script>

{% endblock%}